<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | Welcome to PLM</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- Google fonts library. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div id="header" class="containter">
        <div id="mainMenu" class="container-fluid border-top border-bottom">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3">
                    <li class="nav-item pe-lg-4">
                      <a
                        class="nav-link active"
                        aria-current="page"
                        href="dashboard"
                        >HOME</a
                      >
                    </li>
                    <li class="nav-item pe-lg-4">
                      <a class="nav-link" href="BOM">BOM</a>
                    </li>
                    <li class="nav-item dropdown pe-lg-4">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >PART MANAGEMENT</a
                      >
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      >
                        <li>
                          <a class="dropdown-item" href="create_part"
                            >CREATE PART</a
                          >
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                          <a class="dropdown-item" href="update_part"
                            >UPDATE PART</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item pe-lg-4">
                      <a class="nav-link" href="logout">LOGOUT</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </nav>
        </div>
        </div>
        </div>
      </div>
    </header>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">

  
    
    <main>

      <div class="b-example-divider"></div>

      <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-5 fw-semibold">Dashboard</span>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Select Product
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Chair</a></li>
                <li><a href="#" class="link-dark rounded">Table</a></li>
                <li><a href="#" class="link-dark rounded">Toilet</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              View
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Product Data</a></li>
                <li><a href="#" class="link-dark rounded">Project Progress</a></li>
                <li><a href="#" class="link-dark rounded">Workflow & Change Management</a></li>
                <li><a href="#" class="link-dark rounded">User Access Levels</a></li>
                <li><a href="#" class="link-dark rounded">Reports and Collaboration</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Notifications
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">1) Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reprehenderit, assumenda excepturi cum sapiente accusamus numquam magni odio eius! Ducimus similique, odit assumenda sint distinctio velit suscipit at maxime in?</a></li>
                <li><a href="#" class="link-dark rounded">2) Processed</a></li>
                <li><a href="#" class="link-dark rounded">3) Shipped: 
                <li><a href="#" class="link-dark rounded">14 : 07 , 25/12/2020 <span></span>  </a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed " data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Account
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                
                <li><a href="#" class="link-dark rounded">Profile</a></li>
                <li><a href="#" class="link-dark rounded">Settings</a></li>
                <li><a href="#" class="link-dark rounded">Sign out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    
      
  
      <div class="b-example-divider" ></div>


        <!-- Code below to be changed to update Home dashboard page!   -->


      <div class="container content" style="padding: 20px;">
        <div class="text-center">
          <H1>Pages to be added with Corresponding headers!</H1>
        </div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, neque quod! Id necessitatibus, natus velit tenetur asperiores sequi eius, placeat voluptate error omnis veritatis molestias sapiente voluptatem perspiciatis quia ipsum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, neque quod! Id necessitatibus, natus velit tenetur asperiores sequi eius, placeat voluptate error omnis veritatis molestias sapiente voluptatem perspiciatis quia ipsum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, neque quod! Id necessitatibus, natus velit tenetur asperiores sequi eius, placeat voluptate error omnis veritatis molestias sapiente voluptatem perspiciatis quia ipsum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, neque quod! Id necessitatibus, natus velit tenetur asperiores sequi eius, placeat voluptate error omnis veritatis molestias sapiente voluptatem perspiciatis quia ipsum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, neque quod! Id necessitatibus, natus velit tenetur asperiores sequi eius, placeat voluptate error omnis veritatis molestias sapiente voluptatem perspiciatis quia ipsum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, neque quod! Id necessitatibus, natus velit tenetur asperiores sequi eius, placeat voluptate error omnis veritatis molestias sapiente voluptatem perspiciatis quia ipsum.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, neque quod! Id necessitatibus, natus velit tenetur asperiores sequi eius, placeat voluptate error omnis veritatis molestias sapiente voluptatem perspiciatis quia ipsum.</p>
         
          <img src="" alt="">
        </div>
        <hr>
        <div class="text-center">
          <H1>Notifications</H1>
        </div>
        <div class="content">
          <ul>
            <li>
              <p><span>14:08 - Changed something</span></p>
            </li>
            <li>
              <p><span>14:08 - Changed something</span></p>
            </li>
            <li>
              <p><span>14:08 - Changed something</span></p>
            </li>
          </ul>
        </div>
      </div>
 
     
    </main>
  
 <!-- <hr style="margin-top: 0px;"> -->
   
   
    <footer >
      <div class="container-fluid border-top ">
        <div id="footerbottom" class="row row-cols-1 g-2">
          <div class="col text-center">
            <div class="pt-5">
              <p>&copy; 2022 | All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/sidebars.js"></script>
  </body>
</html>
