<!doctype html>
<html>

<head>
    <title>
        <%= title %> | Welcome to PLM</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Google fonts library. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div id="header" class="containter">
            <div id="mainMenu" class="container-fluid border-top border-bottom">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <nav>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-3">
                                    <li class="nav-item pe-lg-4">
                                        <a class="nav-link" aria-current="page" href="dashboard">HOME</a>
                                    </li>
                                    <li class="nav-item pe-lg-4">
                                        <a class="nav-link" href="BOM">BOM</a>
                                    </li>
                                    <li class="nav-item dropdown pe-lg-4">
                                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">PART MANAGEMENT</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="list_part">LIST PART</a> </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="create_part">CREATE PART</a></li>
                                            <li><hr class="dropdown-divider" /></li>
                                            <li><a class="dropdown-item" href="list_part">UPDATE PART</a></li>
                                            <li><hr class="dropdown-divider" /></li>
                                            <li><a class="dropdown-item" href="create_product">CREATE PRODUCT</a></li>                      
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown pe-lg-4">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">ACCOUNT</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="user_roles">USER ROLES</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="manage_users">MANAGE USERS</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item pe-lg-4">
                                        <a class="nav-link" href="logout">LOGOUT</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="main-logo" class="container-fluid"></div>
            <div class="row row-cols-3 g-2 mb-3">
                <div id="logo" class="col text-left">
                    <!-- Using bootstrap padding utility class. -->
                    <div class="p-3">
                        <!-- Logo 
                    <a href="/"><img src="" class="logo img-fluid" alt=""></a>
                -->
                    </div>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        </div>
    </header>
    <div id="main" class="container">
        <div class="container overflow-hidden">

            <div id="main_home" class="row row-cols-1 row-cols-md-3 g-2">
                <div class="col-md-3">
                    <div class="p-3 main-heading">
                        <p>Welcome
                            <%= name %>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 border">
                    <div class="p-4 main-heading text-left">
                        <h3 class="mt-3 text-center"><a>EDIT PART : <%= partData[0].Part_Name %></a></h3>
                        <% if (messages.error) { %>
                            <p style="color:red">
                                <%= messages.error %>
                            </p>
                            <% } %>
                                <% if (messages.success) { %>
                                    <p style="color:green">
                                        <%= messages.success %>
                                    </p>
                                    <% } %>
                                        <form method="post" action="/update_new_part">
                                            <div class="mb-3">
                                                <label for="p_name" class="form-label">Part Name</label>
                                                <input type="hidden" value="<%= partData[0].Part_ID %>" name="part_id" id="part_id" />
                                                <input type="hidden" value="<%= partData[0].Part_Owner %>" name="part_owner" id="part_owner" />

                                                <input type="text" name="p_name" id="p_name" value="<%= partData[0].Part_Name %>" class="form-control" required />
                                            </div>
                                            <div class="mb-3">
                                                <label for="p_spec_link" class="form-label">Part Specification Link</label>
                                                <input type="text" name="p_spec_link" id="p_spec_link" value="<%= partData[0].Part_Specification_Link %>" class="form-control" required />
                                            </div>
                                            <div class="mb-4">
                                                <label for="p_description" class="form-label">Part Description</label>
                                                <textarea class="form-control" id="p_description" name="p_description" rows="3" required><%= partData[0].Part_Description %></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <label for="p_issues" class="form-label">Part Issue</label>
                                                <textarea class="form-control" id="p_issues" name="p_issues" rows="3" required><%= partData[0].Part_Issues %></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <label for="p_notes" class="form-label">Part Notes</label>
                                                <textarea class="form-control" id="p_notes" name="p_notes" rows="3" required><%= partData[0].Part_Notes %></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <label for="p_status" class="form-label">Part Design Status</label>
                                                <select class="form-select" id="p_status" name="p_status" aria-label="Part Design Status" required>
                                                    <option selected disabled value="">Part Status</option>      
                                                    <option value="Issued">Issued</option>
                                                    <option value="Issued - Revision not started">Issued - Revision not started</option>
                                                    <option value="Issued - Revision in work">Issued - Revision in work</option>
                              </select>
                                            </div>
                                            <div class="mb-4">
                                                <button type="submit" class="btn btn-primary btn-block form-control">UPDATE PART</button>
                                            </div>
                                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-3 main-heading"></div>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <div class="container-fluid border-top mt-5">
            <div id="footerbottom" class="row row-cols-1 g-2">
                <div class="col text-center">
                    <div class="pt-5">
                        <p>&copy; 2022 | All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>